#container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

body {
  background-color: aqua;
}

#container div {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  text-align: center;
  padding: 20px;
  width: calc(25% - 10px); /* 25% width minus gap adjustment */
  box-sizing: border-box; /* Include padding and border in the width */
}
